<!DOCTYPE html>
<html>

<head>
  <title>Basketball Manager Admin Page</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1 class="title">Basketball Manager</h1>
    <nav>
      <ul class="nav-links">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="box">
      <h2>Games</h2>
    </div>
    <div class="box">
      <h2>Inbox</h2>
    </div>
    <div class="box">
      <h2>Diet Plans</h2>
    </div>
    <div class="box">
      <h2>Add/Remove</h2>
    </div>
    <div class="box">
      <h2>Workout</h2>
    </div>
    <div class="box">
      <h2>Fans</h2>
    </div>
    <div class="box">
      <h2>Progress</h2>
    </div>
    <div class="box">
      <h2>Payment</h2>
    </div>
  </div>
</body>

</html>
