<h1>Basketball Players</h1>
<a href = "{% url 'player-create'%}">Add Player</a>
<table>
    <tr>
        <th>Main Players</th>
        <th></th>
    </tr>
    {%for player in players %}
    <tr>
        <td>{{ player.title }}</td>
        <td><a href="{% url 'player' player.id %}">View</a></td>
        <td><a href="{% url 'player-update' player.id %}">Edit</a></td>
        <td><a href="{%url 'player-delete' player.id%} ">Delete</a></td>
    </tr>
    {% empty %}
    <h3>
        No players in the team
    </h3>
    {% endfor %}
</table>
